<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2"
data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/"><h1>Home</h1></a>
    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav text-light">
        <a class="nav-link active" aria-current="page" href="#">r/<%= name %></a>
        <a class="nav-link" href="/r/chickens">r/Chickens</a>
        <a class="nav-link" href="/r/soccer">r/Soccer</a>
        <a class="nav-link" href="/r/mightyharvest">r/MightyHarvest</a>
        <a class="nav-link" href="/rand">Random 🎲</a>
      </div>
    </div>
  </div>
</nav>
