<%- include('partials/head') %>
<body>
  <h1>Home</h1>
  <p>
    Welcome, today is <%= date %>
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, cumque fuga commodi iste dolorum sunt illum reprehenderit sint, magni atque nam maxime ullam. Facilis eum in quos officia? Dignissimos, sint!
  </p>
</body>
</html>
